* {
  font-family: sans-serif;
}

body {
  background-image: url("188B5CB1-D1F1-7CD9-8FBE660C52EEFB9F.jpg");
  position: relative;
}

button {
  color: white;
  background-color: #5cc1d7;
  border-width: 0;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
}

header {
  background-color: #404e52;
  display: flex;
  position: fixed;
  top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: center;
}

.home {
  padding-left: 50px;
  padding-right: 50px;
}

.user-corner {
  display: flex;
}

.signin,
.signup {
  margin-left: 10px;
  margin-right: 10px;
}

.search-input {
  display: flex;
  justify-content: flex-start;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 10px 20px;
}

input {
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: auto;
}

.search-button {
  background-color: #827ff6;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}
